p{
color:red;
}
h2{
  color:Crimson;
  border:5px solid DeepPink;
  text-align:center;
}
div{
  background-color:orange;
}
.red {
	background-color: yellow;
}

#rogue {
	background-color:teal;
}
.blue{
	background-color:DeepPink;
}
