body{
	background-color:DarkSlateGray;
}
p{
color:red;
}
h2{
  color:DarkGray;
  border:5px solid DeepPink;
  box-sizing: border-box;
  text-align:center;
}
div{
  background-color:orange;
}
.red {
	background-color: yellow;
}

#rogue {
	background-color:teal;
}
.blue{
	background-color:blue;
}
