body{
	background-color:DarkSlateGray;
	font-family:;"Trebuchet MS", Helvetica, sans-serif;
}
p{
color:black;
}
h2{
  color:DarkGray;
  border:5px solid #1BAFE0;
  box-sizing: border-box;
  text-align:center;
}
div{
  background-color:#6FC6E3;
}
.red {
	background-color: #B3D7E3;
}

#rogue {
	background-color:#A7C7D1;
}
.blue{
	background-color:#8AA3AB;
}
